<app-newsletter></app-newsletter>
<footer>
    <div class="footer-content">
        <div class="customer-service">
            CUSTOMER SERVICE
            <ul class="footer-column">
                <li>About us</li>
                <li>Store location</li>
                <li>Contact us</li>
                <li>FAQs</li>
            </ul>
        </div>
        <div class="shopping">
            SHOPPING
            <ul class="footer-column"> 
                <li>Delivery Choices</li>
                <li>Payment Options</li>
                <li>Returns</li>
            </ul>
        </div>
        <div class="useful-links">
            USEFUL LINKS
            <ul class="footer-column">
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
                <li>Sales & Promotions</li>
                <li>Community</li>
            </ul>
        </div>
    </div>
</footer>
